{% extends 'base.html'%}
{% block content %}

<div class="container">
    <div>
        <h1 class="title">Club de pesca Pleamar</h1>
        <h2>Historia del Club</h2>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Harum cupiditate a doloremque, in asperiores quos hic facere nihil, delectus praesentium iste quis ullam aperiam illo voluptate sunt eaque, nisi voluptatum.</p>
    </div>
    <div class="forms">
        {% if user.has_perm %}
        <form action="" method="get">
            <button type="button"></button>
        </form>
        {% endif %}
    </div>

</div>
{% endblock %}