{% extends 'base.html' %}
{% load static %}

{% block content %}
<form method="post" action="{% url 'login' %}">
    {% csrf_token %}
    <div id="error-message" style="display: none;" class="alert"></div>
    <div class="form-group">
        <label for="username">Nombre de usuario</label>
        <input type="text" id="username" name="username" class="form-control">
    </div>
    <div class="form-group">
        <label for="password">Contraseña</label>
        <input type="password" id="password" name="password" class="form-control">
    </div>
    <button type="submit" class="btn btn-primary">Ingresar</button>
</form>

<script src="{% static 'js/login.js' %}" ></script>
{% endblock %}
