{% extends 'base.html' %}
{% load static %}

{% block content %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Galería</title>
</head>
<body>
    <h1>Galería</h1>
    {% if user.is_authenticated %}
    <form action="" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Subir archivo</button>
    </form>
    {% endif %}

    <h2>Imágenes Subidas</h2>
    <div class="gallery">
        {% for imagen in imagenes %}
            <div class="image">
                <img src="{{ imagen.archivo_imagen.url }}" alt="{{ imagen.titulo }}">
                <p>{{ imagen.titulo }}</p>
                <p>{{ imagen.descripcion }}</p>

                <!-- Botón de like -->
                <form action="{% url 'dar_like' 'imagen' imagen.id %}" method="post" class="like-form">
                    {% csrf_token %}
                    <button type="submit">Like</button>
                    <span>{{ imagen.total_likes }}</span>
                </form>

                <!-- Formulario de comentarios -->
                <h3>Comentarios</h3>
                <form action="{% url 'agregar_comentario' 'imagen' imagen.id %}" method="post">
                    {% csrf_token %}
                    <textarea name="contenido" rows="2" placeholder="Añadir un comentario"></textarea>
                    <button type="submit">Comentar</button>
                </form>

                <!-- Mostrar comentarios -->
                <div class="comentarios">
                    {% for comentario in imagen.comentarios.all %}
                        <p>{{ comentario.usuario.username }}: {{ comentario.contenido }}</p>
                    {% endfor %}
                </div>
            </div>
        {% endfor %}
    </div>
</body>
</html>
{% endblock %}
