{% load static %}
<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="{% static 'images/favicon.ico' %}">
    {% block title %}<title>Club de Pesca Pleamar</title>{% endblock %}
    <script src="https://kit.fontawesome.com/c2286c5998.js" crossorigin="anonymous"></script>
</head>

<body>
    <div class="container">
        <h1 class="titulo-main-page">
            Club de pesca Pleamar
        </h1>
    </div>
    <div class="container">
        {% include 'navbar.html' %}
        <div class="content">
            {% block content %}
            
            {% endblock %}
        </div>
    </div>
</body>

</html>
