<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %} Club Pleamar {% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <nav>
        <ul>
            <li><a href="{% url 'home' %}">Home</a></li>
            <li><a href="{% url 'gallery_app:gallery' %}">Galería</a></li>
            <li><a href="{% url 'calendar_app:calendar' %}">Calendario</a></li>
            {% if user.is_authenticated %}
                <li><a href="{% url 'logout' %}">Logout</a></li>
                {% if user.has_perm('users_app.can_organize_groups')%}
                    <li><a href="{% url 'organize_teams' %}"></a>Organizar Equipos</li>
                {% endif %}
            {% else %}
                <li><a href="{% url 'login' %}"></a>Login</li>
        {% endif %}
        </ul>
    </nav>
    <div>
        {% block content %}{% endblock %}
    </div>
</body>
</html>