{% url 'home' as home %}
{% url 'gallery' as gallery %}
{% url 'calendar' as calendar %}
{% load group_tags %}

<nav class="navbar">
    <div class="container navbar">
        <ul class="navbar-nav">
            <li class="navbar-item">
                <a href="{{ home }}" class="nav-link {% if request.path == home %}active{% endif %}">Inicio
                    <span class="fa-solid fa-house"></span>
                </a>
            </li>
            <li class="navbar-item">
                <a href="{{ gallery }}" class="nav-link {% if request.path == gallery %}active{% endif %}">Galería
                    <span class="fa-solid fa-images"></span>
                </a>
            </li>
            <li class="navbar-item">
                <a href="{{ calendar }}" class="nav-link {% if request.path == calendar %}active{% endif %}">Calendario
                    <span class="fa-solid fa-calendar-days"></span>
                </a>
            </li>
            {% if request.user|has_group:"Capitan" or request.user|has_group:"Administrador" or request.user|has_group:"Presidente"%}
            <li class="navbar-item">
                <a href="{% url 'equipos_list' %}">Equipos</a>
            </li>
            {% endif %}
            {% if user.is_authenticated %}
            <li class="navbar-item">
                <a href="{% url 'logout' %}" class="nav-link">Cerrar sesión
                    <span class="fa-solid fa-right-from-bracket"></span>
                </a>
            </li>
            {% else %}
            <li class="navbar-item">
                <a href="{% url 'login' %}" class="nav-link">Iniciar sesión
                    <span class="fa-solid fa-right-to-bracket"></span>
                </a>
            </li>
            <li class="navbar-item">
                <a href="#" class="nav-link">
                    Registrarse
                    <span class="fa-solid fa-address-card"></span>
                </a>
            </li>
            {% endif %}
        </ul>
    </div>
</nav>
