{% extends 'base.html' %}
{% load static %}

{% block meta_tags %}
    {{ block.super }}
{% endblock %}

{% block title %}
    <title>Calendario de Eventos</title>
{% endblock %}

{% block content %}
    <div class="container">
        <div class="left">
            <div class="calendar">
                <div class="month">
                    <i class="fas fa-angle-left prev"></i>
                    <div class="date">diciembre 2015</div>
                    <i class="fas fa-angle-right next"></i>
                </div>
                <div class="weekdays">
                    <div>Dom</div>
                    <div>Lun</div>
                    <div>Mar</div>
                    <div>Mié</div>
                    <div>Jue</div>
                    <div>Vie</div>
                    <div>Sab</div>
                </div>
                <div class="days"></div>
                <div class="goto-today">
                    <div class="goto">
                        <input type="text" placeholder="mm/yyyy" class="date-input" />
                        <button class="goto-btn">Ir</button>
                    </div>
                    <button class="today-btn">Hoy</button>
                </div>
            </div>
        </div>
        <div class="right">
            <div class="today-date">
                <div class="event-day">mié</div>
                <div class="event-date">12 diciembre 2022</div>
            </div>
            <div class="events"></div>
            <div class="add-event-wrapper">
                <div class="add-event-header">
                    <h2>Añadir Evento</h2>
                    <span class="close">&times;</span>
                </div>
                <form id="add-event-form" method="POST" action="{% url 'add_event' %}">
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="event-name">Nombre del Evento</label>
                        <input type="text" class="event-name" placeholder="Nombre del Evento" required>
                        {{ form.titulo }}
                    </div>
                    <div class="form-group">
                        <label for="event-time-from">Hora del Evento</label>
                        <input type="time" class="event-time-from" required>
                        {{ form.fecha }}
                    </div>
                    <div class="form-group">
                        <label for="event-description">Descripción del Evento</label>
                        <input type="text" class="event-description" placeholder="Descripción del Evento" required>
                        {{ form.descripcion }}
                    </div>
                    <div class="form-group">
                        <button type="submit" class="add-event-btn">Añadir Evento</button>
                    </div>
                </form>
            </div>
            
        </div>
        <button class="add-event">
            <i class="fas fa-plus"></i>
        </button>
    </div>

    <div class="credits">
        <p>
            Crafted with ❤️ by
            <a href="https://youtu.be/6EVgmpm4z5U" target="_blank">Open Source Coding</a>
        </p>
    </div>
    <script src="{% static 'js/scripts.js' %}"></script>
{% endblock %}
